@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #7E95AD

*:-moz-placeholder
	color: #7E95AD

*::-moz-placeholder
	color: #7E95AD

*:-ms-input-placeholder
	color: #7E95AD

* 
	margin: 0
	padding: 0
	box-sizing: border-box
	outline: none

a, a:hover, a:focus, a:active, a:visited
	text-decoration: none
	transition: $transition

ul
	list-style: none

html
	overflow-x: hidden

body
	font-family: $PTSans
	font-size: 16px
	line-height: 1.3
	color: #495766
	overflow-x: hidden
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	padding-top: 140px
	background: linear-gradient(267.76deg, #FEFEFE 0%, rgba(255, 255, 255, 0) 0.01%, #F9F9F9 100%), #FDFDFD
	&.body-step
		padding-top: 0
		background: #F1F4FF

img
	max-width: 100%
	height: auto

input,textarea,select,button
	font-family: $Roboto
	font-size: 16px

button
	cursor: pointer
	transition: $transition
	border: none
	background: transparent

.wrapper
	max-width: 1210px
	margin: 0 auto
	padding: 0 15px
	position: relative
	z-index: 2
	&-big
		max-width: 1398px

.mark-ico
	display: block
	width: 24px
	height: 24px
	border-radius: 50%
	background: $colorAccent
	position: relative
	margin: 4px 16px 0 0
	svg
		display: block
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)

.blot,.card
	position: absolute
	svg,img
		display: block

.card
	z-index: 2
	&-1
		top: 30px
		left: 0
	&-2
		top: -70px
		right: 0

@import "components/general/buttons"
@import "components/general/inputs"
@import "components/general/titles"
@import "components/general/modal"
@import "components/header"
@import "components/main"
@import "components/integration"
@import "components/advantages"
@import "components/connect"
@import "components/footer"
@import "components/merchant"

.tab
	display: none
	&.tab-active
		display: block

@media only screen and (max-width : 1100px)
	.card
		&-2
			right: -50px

@media only screen and (max-width : 1000px)
	body
		padding-top: 92px
	.card
		display: none

@import "_media"